/* 
    Document   : estrutura
    Created on : 13/04/2011, 09:57:42
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#todo {
    width: 990px;
    margin: 0 auto;
    border: 2px solid #ddd;
    clear: both;
    *width: 975px;
}

/* HEADER */

#menu-header ul{
    background-color: #e9e9ea;
    height: 20px;
    padding: 7px 5px 3px 5px;
}

#menu-header ul li{
    display: inline;
    float: left;
    padding-left: 5px;
}

#header{
    padding: 20px;
    clear: both;
    height: 170px;
}

#header ul li{
    display: inline;
    float: left;
}

#menu{
    margin-left: 24px;
    margin-top: 118px;
}

#menu li{
    display: inline;
    z-index: 10;
}

#header #vetor{
    margin-top: 118px;
    margin-left: -50px;
}

.traco-cinza{
    border-bottom: 2px solid #ddd;
    width: 930px;
    margin: 0 auto;
    clear: both;
    padding-top: 15px;
}

#elemento-page{
    margin-top:-4px;
    margin-left: 2px;
}

/* CONTENT */



#conteudo {
    margin: 20px 0 20px 85px;
    width: 812px;
    height: 500px;
    padding: 3px;
    border: 2px solid #ddd;
    *margin: 30px 0 5px 77px;
}

/* RODAPE */
#footer{
    height: 140px;
}

#footer-2{
    margin: 10px 38%;
}

#footer-2 li{
    display: inline;
    padding: 5px;
    color: #9c9e9f;
}

/* NEWSLETTERS */
#newsletters{
    margin-left: 27px;
    padding-top: 20px;
    *margin-left: 20px;
    *margin-bottom: -12px;

}

#newsletters li{
    display: inline;
    float: left;
    padding: 5px;
}

#newsletters li input[type=text]{
    border: 1px solid #ccc;
    padding: 3px;
    color: #888;
    margin: 0 -5px 0 0;
}

#newsletters li input[type=submit]{
    border: 1px solid #ccc;
    padding: 4px  3px 3px;
    color: #888;
    background-color: #e3e3e3;
    font-size: 11px;
    cursor: pointer;
    *margin-top: 1px;
    *padding: 4px 2px 1px 2px;
}

/* CONTEUDO */

#conteudo {

}

#paginas{
    padding: 15px 2px 2px 40px;
   
}


#paginas li{
    width: 385px;
    display: inline;
    float: left;
}