/* 
    Document   : estrutura
    Created on : 13/04/2011, 09:57:42
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#todo {
    width: 990px;
    *width: 975px;
    margin: 0 auto;
    border: 2px solid #ddd;
    clear: both;
}

/* HEADER */

#menu-header ul{
    background-color: #e9e9ea;
    height: 20px;
    padding: 5px;
}

#menu-header ul li{
    display: inline;
    float: left;
    padding-left: 5px;
}

#header{
    padding: 20px;
    clear: both;
    height: 170px;
}

#header ul li{
    display: inline;
    float: left;
}

#menu{
    margin-left: 24px;
    margin-top: 118px;
}

#menu li{
    display: inline;
    z-index: 10;
}

#header #vetor{
    margin-top: 118px;
    margin-left: -50px;
}

.traco-cinza{
    border-bottom: 2px solid #ddd;
    width: 930px;
    margin: 0 auto;
    clear: both;
    padding-top: 10px;
}

/* CONTENT */
#content .traco-cinza{

}

/* RODAPE */
#footer{
    height: 140px;
}

#footer-2{
    margin: 10px 38%;
}

#footer-2 li{
    display: inline;
    padding: 5px;
    color: #9c9e9f;
}

/* NEWSLETTERS */
#newsletters{
    margin-left: 25px;
    *margin-left: 20px;
    padding-top: 20px;
}

#newsletters li{
    display: inline;
    float: left;
    padding: 5px;
}

#newsletters li input[type=text]{
    border: 1px solid #cccccc;
    padding: 3px;
}

#newsletters li input[type=submit]{
    border: 1px solid #dddddd;
    padding: 3px;
    color: #58585a;
    background-color: #e8e8e8;
    cursor: pointer;
}
