/* 
    Document   : tipografia
    Created on : 13/04/2011, 09:57:49
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a{
    font-family: arial;
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


#menu-header ul li a{
    font-family: arial;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    margin-right: 5px;
}

#menu-header ul li a:hover{
    text-decoration: underline;
}

#menu li{
    color: #a8a8a8;
    font-size: 18px;
}

#menu li a{
    color: #666666;
    font-size: 17px;
    padding: 0 10px;
}

/* FOOTER */
#footer-2 li a{
    color: #777;
    margin: 5px 10px 0 -2px;
    *margin: 0 10px 0 -5px;
}

#footer p{
    color: #777;
    font-family: arial;
    font-size: 12px;
}

/* NEWSLETTERS */
#newsletters li p{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-top: 7px;
    color: #777;
    word-spacing: -1px;
    *padding-top: 9px;
}



/* CONTEUDOS */

#slides p {
    color: #555;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    font-size: 12px;
    margin-top: 8px;
}

#passa-slide li p{
    color: #777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: center;
}

/* SERVICOS */
#paginas li h5{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    color:#ba98b3;
    margin-bottom: 7px;
    width: 350px;
}

#paginas li p{
    width: 340px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #87888a;
    line-height: 145%;
    text-align: justify;
}

#texto-paginas{
    padding-left: 30px;
}

#texto-paginas label{
    color: #888888;
    font-family: arial;
    font-size: 14px;
    width: 100px;
    display: inline-block;
}

/* SCRAPBOOK */

#scrap-list a{
    width: 170px;
    display: block;
    height: 25px;
    font-weight: bold;
    font-size: 13px;
}

#scrap-list a:hover{
    text-decoration: none;
}

#scrap-list a span{
    color:#bca5b7;
}

#foto-scrapbook span p{
    
    color: #444444;
    font-family: arial;
    line-height: 130%;
}


